* {
	.box-sizing(border-box);
}

body {
	background: @orange;
}


section {
	margin: 5em auto 0 auto;
	text-align: center;
	width: calc(~"100% - 4em");

	h1 {
		font-family: @baseFont;
	}

	img {
		width: 13em;
	}
}