@import url(http://fonts.googleapis.com/css?family=Molle:400italic);

* {
	.box-sizing(border-box);
}

body {
	background: @orange;
	-webkit-animation-delay: 0.1s;
  -webkit-animation-name: fontfix;
  -webkit-animation-duration: 0.1s;
  -webkit-animation-iteration-count: 1;
  -webkit-animation-timing-function: linear;
}

@-webkit-keyframes fontfix {
  from { opacity: 1; }
  to   { opacity: 1; }
}


section {
	margin: 2em auto 0 auto;
	text-align: center;
	width: calc(~"100% - 4em");

	a {
		color: black;
		display: inline-block;
		padding: 1em;
		text-decoration: none;

		&:hover {
			.background-image(radial-gradient(ellipse at center, lighten(orange, 35%) 0%,@orange 70%));
		}
	}

	h1 {
		font-family: @baseFont;
	}

	img {
		width: 13em;
	}
}

.twits {
	width: calc(~'100% - 2em');

	#twitter-widget-0 {
		box-shadow: .2em .2em .4em rgba(0,0,0, .4);
		height: calc(~'100vh - 4em');
	}
}