body {
	box-sizing: border-box;
	font-family: sans-serif;
	margin: 0;
	padding: 0;
}

body * {
	box-sizing: inherit;
}

[role="banner"] {
	/* background: #f4e6bd; */
	background: orange;
	padding: 0;
	// margin-bottom: 1em;
}

[role="banner"] p {
	color: brown;
	margin: 0;
	padding: .5em;
}

[role="banner"] p a {
	color: brown;
	transition: all .1s ease;
}

[role="banner"] p a:hover {
	color: #000;
}

.page-wrapper {
	align-items: stretch;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	padding: 1em;
	max-width: 60em;
	margin: 0 auto;
}

.message {
	background: url('../images/pumpkin.gif') 100% 0 no-repeat;
	background-size: auto 100% ;
	background-color: #000;
	/*background-position: middle bottom;*/
	color: orangered;
	text-align: center;
	font-family: 'Sedgwick Ave Display', cursive;
	font-size: 3.5rem;
	font-weight: normal;
	margin: 0 auto .5rem auto;
	padding: 0;
	height: 10rem;
	overflow: hidden;
	text-shadow:	2px 2px 0 #000, 
								-5px -5px 80px rgb(228, 219, 219),
								5px 5px 80px rgba(255,255,255, 1);
	width: calc(100% - 1rem);
}

.message img {
	display: block;
	width: 100%;
	bottom: 0;
}

.message p {
	display: flex;
	align-items: center;
	justify-content: center;
}

.tile {
	align-items: stretch;
	margin: .5em;
	flex-grow: 1;
	width: calc(50% - 2em);
	transition: all .15s ease;
}

.tile:hover {
	/*border-radius: 25%;*/
	overflow: hidden;
	position: relative;
	/*transform: rotate(-10deg) scale(1.2);*/
	/*z-index: 2;*/
	/*box-shadow: 0 0 20px rgba(0, 0, 0, .25);*/
}

.tile a {
	/* background: #f4e6bd; */
	background: orange;
	/*border-radius: .5em;*/
	display: flex;
	padding: 2em 1em;
	height: 100%;
	width: 100%;
	text-align: center;
	transition: all .15s ease;
}

.tile a:hover {
	background: #ffeeba;
	/*box-shadow: inset 0 0 60px rgba(0, 0, 0, .2);*/
}

.tile a img {
	display: block;
	/*max-width: calc(100% - 1em);*/
	max-width: 100%;
	margin: auto;
}

.pbs a img {
	width: 70%;
}

.tile a img {
	filter: drop-shadow(0 0 6px rgba(0,0,0, .35));
}

@media screen and (min-width: 30em) {
	.tile {
		width: calc(33% - 2em);
	}
}

@media screen and (min-width: 50em) {
	.tile {
		width: calc(20% - 2em);
	}
}





